[submodule "creditrama-team-d-frontend"]
	path = creditrama-team-d-frontend
	url = https://github.com/pns-si5-al-creditrama-d-1920/creditrama-team-d-frontend
[submodule "creditrama-team-d-client-service"]
	path = creditrama-team-d-client-service
	url = https://github.com/pns-si5-al-creditrama-d-1920/creditrama-team-d-client-service
[submodule "creditrama-team-d-notification-service"]
	path = creditrama-team-d-notification-service
	url = https://github.com/pns-si5-al-creditrama-d-1920/creditrama-team-d-notification-service
[submodule "creditrama-team-d-bankaccount-service"]
	path = creditrama-team-d-bankaccount-service
	url = https://github.com/pns-si5-al-creditrama-d-1920/creditrama-team-d-bankaccount-service
[submodule "creditrama-team-d-transaction-service"]
	path = creditrama-team-d-transaction-service
	url = https://github.com/pns-si5-al-creditrama-d-1920/creditrama-team-d-transaction-service
[submodule "creditrama-team-d-authorization-service"]
	path = creditrama-team-d-authorization-service
	url = https://github.com/pns-si5-al-creditrama-d-1920/creditrama-team-d-authorization-service
